*{
  margin:0px ;
}

body{
  font-family: 'Open Sans', sans-serif;
}

div {
  box-sizing: border-box;
  /* width: 250px;
  border: 10px;
  padding: 10px; */
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  /*todo lo que salga del contenedor se oculta*/
  overflow: hidden;
  /*centrara los elementos*/
  margin: auto; 
  padding: 60px 0px;
}

header{
  height: 50vw;
  /*iimagen de fondo*/
  background-image: linear-gradient(to top, rgb(159, 138, 208, 0.5) 0%, rgb(251, 193, 234, 0.5) 100%),url(../img/woman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head{
  padding: 18%;
  text-align: center;
  color: #fff;
}

.hamburger{
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  text-align: center;
  line-height: 25px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
  position: fixed;
  top:0px;
  right: 0PX;
  width: 10vw;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /*centrar*/
  padding: 13%;
  text-align: center;
  /* transform: translate(100%); */

}

/* .spread{}*/

.menu-navegacion a{
  color: #fff;
  text-decoration: none;
}

.subtitulo{
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio img{
  width: 40%;
  float: left;
  margin-right: 50px;
}

.checklist-servicio{
  width: 55%;
  margin: auto;
}

.service{
  margin-bottom: 20px;
}

.n-service{
  margin-bottom: 7px;
  color: #9f8ad0;
}

.number{
  display: inline-block;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 50px;
  font-weight: 700px;
  /*establece la altura*/
  line-height: 30px;
  margin-right: 5px;
}

.gallery{
  background: #f2f2f2;
}

.img-galeria{
  /*object-fit indica como el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, deberia redimensionarse para ajustarse a su contenedor
  cover: el contenido reemplazado se dimensiona para mantener su relacion de aspecto mientras llena el cuadro de contenido completo del elemento. Si la relacion del aspecto del objeto no coincide con la relacion de aspecto de su caja , entonces el objeto se recortara para que se ajuste.

  */
  object-fit: cover;
  width: 30%;
  margin-bottom: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imagen-light{
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(100%);
  transition: tranform .2s ease-in-out;
}

/* .show{

} */

.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 3%;
  transform: scale(0);
  transition: transform .3s .2s;
}

/* .showImage {

} */

.footer-content {
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
  float: left;
}

.brand{
  font-weight: 500px;
  font-size: 40px;
}

.brand p {
  font-weight: 500px;
}

.social-media {
  margin-left: 50%;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  /*color: #fff;*/
}

.social-media-icon:hover {
  background: #fff;
  color: #764ba2;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  height: 2px;
  background: #764ba2;
  margin-bottom: 60px;
}
